* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ============= common ============== */
a {
  text-decoration: none;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 127%; /* 126.316% */
  letter-spacing: -0.76px;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}
/* ============= header ============== */

.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.nav a {
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0px 0px currentColor;
}

.nav li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  position: absolute;
  left: 21px;
  bottom: 6px;
}
.header .action {
  margin-left: 49px;
}
.header .btn-sign-up {
  min-width: 144px;
}

/* =========================hero======================== */
.hero {
  padding: 56px 0 65px;

  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

/* =========================hero left======================== */

.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  width: 270px;
  padding: 24px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 186%;
}

.hero-summary .title {
  color: #171100;

  font-size: 1.8rem;

  font-weight: 600;
  line-height: 167%;
}

/* =========================hero right======================== */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 117%; /* 117.241% */
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 167%; /* 166.667% */
}

.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}

.hero .watch-video {
  border: none;
  background-color: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
}

.hero .desc-recent {
  margin-top: 48px;
}

.stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 123%; /* 122.727% */
  margin-right: 15px;
}

.hero .stats {
  margin-top: 8px;
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* popular */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  line-height: 167%; /* 166.667% */
  width: 458px;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
  background: var(--primary-color);
  color: white;
  cursor: pointer;
}

/* popular bottom */
.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .course-item .thumb {
  border-radius: 12px 12px 0 0;
  height: 278px;
  object-fit: cover;
  width: 100%;
}

.popular .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-item:hover {
  border: 1px solid transparent;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
}

.popular .rating .value {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 175%; /* 175% */
}

.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 186%; /* 185.714% */
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
}

.popular .course-item .btn-book {
  border: none;
}

.popular .course-item .btn-book:hover {
  background: var(--primary-color);
}
